{% extends 'adminbase.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
</head>
<body>
<!-- <body style="background:-webkit-linear-gradient(left, #08eea9, #b011c5)"> -->


<div class="wrapper fadeInDown" style="margin-top: 50px;">
  <div id="formContent" style="margin-bottom: 200px;">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="" />
    </div>

    <!-- Login Form -->
    <form id="form" action="{% url 'editsubcategory' subcategory.title %}" method="POST">
      {% csrf_token %}
      <input type="text" id="title" class="fadeIn second" name="title" value="{{subcategory.title}}">
      <input type="text" id="description" class="fadeIn second" name="description" value="{{subcategory.description}}">
      <label for="cars">Choose a Category:</label>

      <select name="Category" >
        {% for category in categories %}
        <option value="{{category.id}}">{{ category.title }}</option>
        {% endfor %}
      </select> 
      <input type="submit" class="fadeIn fourth" value="ADD"><br>
    </form>
    <div>
      {% for message in messages %}
      <h3>{{ message }}</h3>
      {% endfor %}
  </div>
</div>
</body>
</html>

<script>
  $("#form").validate({
      rules:{
        title:{
          required:true,
          minlength:3,
      },
      description:{
          required:true,
          minlength:3,
      },
      },
      messages: {
        title:{
          required:"name needed",
          minlength:"minimum 3 characters needed",
      },
      description:{
          required:"Description is required",
          minlength:"Minimum 3 characters required"

      },

      },

  });
  </script>


{% endblock %}