{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="section-content padding-y bg">
	<div class="container">
	
	<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
			<div class="exzoom" id="exzoom">
				<!-- Images -->
				<div class="exzoom_img_box">
				  <ul class='exzoom_img_ul'>
					<li><img src="{{product.image1.url}}"/></li>
					<li><img src="{{product.image2.url}}"/></li>
					<li><img src="{{product.image3.url}}"/></li>
					<li><img src="{{product.image4.url}}"/></li>
				  </ul>
				</div>
				<!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav -->
				<div class="exzoom_nav"></div>
				<!-- Nav Buttons -->
				<p class="exzoom_btn">
					<a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
					<a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
				</p>
			  </div>
			  

		
		</aside>
        <main class="col-md-6 border-left">
          <article class="content-body">
          <!-- <a id="hmAddtoWishlistBtn" onclick="wishList('{{product.id}}')"> <i class="fa fa-heart" style="color: red;" ></i></a> -->
		  <a id="wishicon1" onclick="wishList('{{product.id}}')"> <button class="btn" style="color: black;text-shadow: 0 0 3px #000;">Add to wishlist</button></a>	
          <h2 class="title">{{product.brand}} {{product.product_name}}</h2>
          
          
          <div class="mb-3"> 
            <var class="price h4">₹{{product.product_discount_price}}</var>
            <!-- <del><var class="price h6">₹{{product.product_max_price}}</var></del> -->
            {% if product.offer_name != None %}
                    <p style="color: yellowgreen;">{{product.offer_percent}}% offer</p> <!-- price-wrap.// -->
            {% endif %}
          </div> 
          
          <p>{{product.product_description}}</p>
          <p>{{product.product_long_description}}</p>
          <!-- <button href="" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button> -->
          {% if product.stock <= 0 %}
          <h5 style="color: red;">Out of stock</h5>
          {% else %}
            {% if in_cart %}
            <a class="btn  btn-success" > <span style="color: white;" class="text">Added to cart</span> <i style="color: white;" class="fas fa-check"></i>  </a>
            <a href="{% url 'cart' %}" class="btn  btn-dark" > <span class="text">View cart</span> <i class="fas fa-eye"></i>  </a>
            {% else %}
            <a onclick="add_cart('{{product.id}}')"  style="width: -moz-available; margin-top:10px "  class="btn  btn-dark" > <span style="color: white;" class="text">Add to cart</span> <i style="color: white;" class="fas fa-shopping-cart"></i>  </a>
            {% endif %}
          {% endif %}
          </article> <!-- product-info-aside .// -->

	
			</main> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->
	<!-- ============================ COMPONENT 1 END .// ================================= -->
	

	
	<br>
</div> <!-- container .//  -->
	</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>

    function add_cart(id){        
        var data  = {'id': id,  "csrf_token": '{{csrf_token}}'} 
        $.ajax({
            url : "{% url 'add_cart'  %}",
            method: "POST",
            data : data,
            success : function(data){
                let msg = data.success
				let mess = data.alert
                let quantity = data.cart_count
                let max = data.max
				let error = data.error
				if(msg){
					document.getElementById('cartCount').innerText = quantity
					swal("Item added to Cart",
					{
					icon:"success",
					});
                    document.getElementById('cartCount').innerText = quantity   
					// $("#cart_icon").load(window.location + "#cart_icon");
				}
				else if(mess){
					swal({
						title:"Already in Cart",
						text:"Added the quantity",
      					icon: "info",
   						 });
				}
				else if(max){
					swal({
						title:"Already in Cart",
						text:"Maximum quantity reached",
      					icon: "info",
   						 });
				}
				else if(error){
					swal({
						title:"No stock",
						text:"",
      					icon: "error",
   						 });
				}
				
            }
        })
    }

</script>

<script>

    function wishList(id){        
        var data  = {'id': id,  "csrf_token": '{{csrf_token}}'} 
        $.ajax({
            url : "{% url 'add_wishlist'  %}",
            method: "POST",
            data : data,
            success : function(data){
                
                let msg = data.success
				let mess = data.alert
                let quantity = data.wish_items
                let errorMsg = data.error
				if(mess){
					swal("Already in Wishlist", {
      					icon: "info",
   						 });
				}
                else if(msg && quantity ){
                    document.getElementById('wishCount').innerText = quantity   
                    swal("Product added to wishlist", {
      					icon: "success",
   						 });
                }else{
                    swal("You must be logged in to add to wishlist", {
      				icon: "error",
   					 });
                }
                
            }
        })
    }

</script>




  
{% endblock %}


