{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<!-- <div class="container"> -->
	<div class="row p-4">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href=""> My order history </a>
			<a class="list-group-item" href="{% url 'listaddress' %}"> Manage Address </a>
			<a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
			<a class="list-group-item" href="{% url 'account_details' %}"> Account Details </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		{% for ord in order_item %}

		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: {{ord.id}}</strong>
			<!-- <span>Order Date: 16 December 2018</span> -->
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					<h6 class="text-muted"></h6>
					<span class="text-success">
					    <img src="{{ord.products_id.image1.url}}" alt="{{ord.products_id.image1}}" style="width: 50px;">
					</span>
				</div>
				<div class="col-md-3">
					<h6 class="text-muted">Product Name</h6>
					<span class="text">
					    {{ord.products_id.product_name}}
					</span>
				</div>
				<div class="col-md-3">
					<h6 class="text-muted">Amount</h6>
					<span class="text-success">
					    {{ord.sub_total}}  
					</span>
				</div>
				<div class="col-md-3">
					<h6 class="text-muted">Payment</h6>
					<span class="text">
					    {{ord.order.payment_method}}  
					</span>
				</div>
				<div class="col-md-3" style="margin-top: 20px;">
					<h6 class="text-muted">Delivery to</h6>
					<p> 
					{{ord.order.delivered_address}}
			 		</p>
				</div>
				<div class="col-md-3" style="margin-top: 20px;">
					<h6 class="text-muted">Delivery Status</h6>
					    {{ord.delivery_status}}  
				</div> 
				
				
				{% if ord.delivery_status != 'cancelled' %}

				<a href="{% url 'cancel_order_user' ord.id %}" class="btn btn-primary" style="height: fit-content; margin: 15px; margin-left: auto;">Cancel</a>
				
				{% endif %}
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td> Seller <br> E-kart Logistics </td>
				<!-- <td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td> -->
			</tr>
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
		{% endfor %}
	</main>
</div> <!-- row.// -->
<!-- </div> -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
{% endblock %}